<mat-form-field class="searchInput">
  <input matInput placeholder="Search for the word" (keyup)="0" #query>
</mat-form-field>
<mat-form-field>
  <mat-select [(ngModel)]="type">
    <mat-option *ngFor="let option of options" [value]="option">{{option}}</mat-option>
  </mat-select>
</mat-form-field>

<mat-list class="comments" *ngFor="let comment of pagedComments | search: {query: query.value, type: type}">
  <mat-list-item [innerHTML]="comment.alias"></mat-list-item>
</mat-list>

<mat-paginator [length]="comments.length"
              [pageSize]="pageOption"
              [pageSizeOptions]="pageOptions"
              (page)="setPage($event)">
</mat-paginator>